.navigationBar {
  background: none;
  overflow: hidden;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li,
img {
  float: left;
  padding: 14px 16px;
}
li a {
  display: block;
  color: rgb(73, 40, 16);
  text-align: center;
  padding: 10px 10px;
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: none;
  font-size: 38px;
  font-family: "Libre Barcode 128 Text", cursive;
}
.logo {
  width: 12% !important;
}
